#topo{
	margin-top: 20px;
	margin-bottom: 10px;
}

.dropdown-menu li > a:hover{
    color: #FFF;    
    background-color: #7DC24D;
    background-image: linear-gradient(to bottom, #7DC24D, #7DC24D);
    background-repeat: repeat-x;
}

.hero-unit .btn  {
  color:#EEEEEE;
  background-color: #7DC24D;  
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#93CA64), to(#7DC24D));
  background-image: -webkit-linear-gradient(top, #93CA64, #7DC24D);
  background-image: -o-linear-gradient(top, #93CA64, #7DC24D);
  background-image: linear-gradient(to bottom, #93CA64, #7DC24D);
  background-image: -moz-linear-gradient(top, #93CA64, #7DC24D);  
}

.hero-unit .btn:hover {
  color: #FFF;
  background-color: #88C24E;  
}

.flutuar{
	float: left;
	margin-bottom: 10px;
	margin-right: 10px;
}

.copy{
	margin-left:400px;
}

.table-hover tbody tr:hover td{
	background-color:#B3FF99;
}



