<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Cadastra Administrador</title>
        <h:outputStylesheet library="css" name="bootstrap.css"/>
        <h:outputStylesheet library="css" name="bootstrap-responsive.css"/>
        <h:outputStylesheet library="css" name="default.css"/>
    </h:head>
    <h:body>
         <div class="container">
            <nav class="navbar navbar-inverse" role="navigation">

                <div class="row" id="navegacao">
                    <div class="span12">
                        <div class="navbar">
                            <div class="navbar-inner">
                                <div class="container">

                                    <h1 align="center"> <h:outputLabel style="color: green; font-weight: bold; font-size-adjust: initial" value="Administrador"/></h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        <H2 align="left"> <h:outputLabel style="color: blue; font-weight: bold;" value="Dados Do Administrador "/></H2>
        <h:form >

            <h:panelGroup>
                <h:panelGrid  columns="2">
                    <h:outputLabel  id="nome" value="Nome:"/>
                    <h:inputText  value="#{controladorAdmin.admin.nome}"/>

                    <h:outputLabel value="CPF:"/>
                    <h:inputText id="cpf" value="#{controladorAdmin.admin.cpf}"/>

                    <h:outputLabel  value="Email:"/>
                    <h:inputText id="email" value="#{controladorAdmin.admin.email}"/>

                    <h:outputLabel value="Senha:"/>
                    <h:inputSecret id="senha" value="#{controladorAdmin.admin.senha}"/>

                </h:panelGrid>
                <H2 align="left"> <h:outputLabel style="color: blue; font-weight: bold;" value="Endereço "/></H2>
                <h:panelGrid columns="4">

                    <h:outputLabel value="Rua:"/>
                    <h:inputText id="rua" value="#{controladorAdmin.endereco.rua}"/>

                    <h:outputLabel value="Bairro:"/>
                    <h:inputText id="bairro" value="#{controladorAdmin.endereco.bairro}"/>

                    <h:outputLabel value="Numero:"/>
                    <h:inputText id="numero" value="#{controladorAdmin.endereco.numero}"/>

                    <h:outputLabel value="Cep:"/>
                    <h:inputText id="cep" value="#{controladorAdmin.endereco.cep}"/>

                    <h:outputLabel value="Cidade:"/>
                    <h:inputText id="cidade" value="#{controladorAdmin.endereco.cidade}"/>

                    <h:outputLabel value="Uf:"/>
                    <h:inputText id="uf" value="#{controladorAdmin.endereco.uf}"/>

                </h:panelGrid>
                <h2></h2>
                <h:commandButton class="btn btn-primary btn-lg active" style="margin-right: 10px;" value="Cadastrar" action="#{controladorAdmin.salvar()}"/>
                <h:commandButton class="btn btn-primary btn-lg active"  value="Cancelar" action="#{controladorAdmin.cancelar()}"/>
            </h:panelGroup>
        </h:form>
        <div class="row">
                <div class="span12"><p class="copy">Imobily - Copyright &copy; 2014. Todos os direitos reservados.</p></div>
            </div>

        </div><!-- final do Container -->	

        <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="js/bootstrap.min.js"></script> 
    </h:body>
</html>

