<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
     <h:head>
        <title>Imobiliaria</title>
         <h:outputStylesheet library="css" name="bootstrap.css"/>
        <h:outputStylesheet library="css" name="bootstrap-responsive.css"/>
        <h:outputStylesheet library="css" name="default.css"/>
    </h:head>
    <h:body>
        <div class="container">
            <nav  class="navbar navbar-inverse" role="navigation">

                <div class="row" id="navegacao">
                    <div class="span12">
                        <div class="navbar">
                            <div class="navbar-inner">
                                <div class="container">

                                    <h1 align="center"> <h:outputLabel style="color: green; font-weight: bold; font-size-adjust: initial" value="Dados"/></h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        
        <h:form>
            <h:panelGrid columns="4">
                
                <h:outputText value="Nome" />                                
                <h:inputText value="#{controladorAdmin.admin.nome}" />

                <h:outputText value="Cpf"/>                
                <h:inputText value="#{controladorAdmin.admin.cpf}" />

                <h:outputText value="Email"/>                
                <h:inputText value="#{controladorAdmin.admin.email}" />

                <h:outputText value="Senha"/>                
                <h:inputText value="#{controladorAdmin.admin.senha}" />

                <h:outputText value="Rua"/>                
                <h:inputText value="#{controladorAdmin.admin.endereco.rua}" />

                <h:outputText value="Numero"/>                
                <h:inputText value="#{controladorAdmin.admin.endereco.numero}" />

                <h:outputText value="Bairro"/>
                <h:inputText value="#{controladorAdmin.admin.endereco.cep}" />

                <h:outputText value="Cidade"/>
                <h:inputText value="#{controladorAdmin.admin.endereco.cidade}" />

                <h:outputText value="Estado"/>
                <h:inputText value="#{controladorAdmin.admin.endereco.uf}" /> 
               </h:panelGrid>
                <br></br>
                <h:commandButton  class="btn btn-primary btn-lg active" style="margin-right: 10px;" value="Atualizar" action="#{controladorAdmin.atualizar()}"/>           
                <h:commandButton  class="btn btn-primary btn-lg active"  value="Excluir" action="#{controladorAdmin.excluir()}"/>
            
        </h:form>
             <div class="row">
                <div class="span12"><p class="copy">Imobily - Copyright &copy; 2014. Todos os direitos reservados.</p></div>
            </div>

        </div><!-- final do Container -->	

        <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="js/bootstrap.min.js"></script> 
    </h:body>
</html>

