<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Facelet Title</title>
    <h:outputStylesheet library="css" name="bootstrap.css"/>
        <h:outputStylesheet library="css" name="bootstrap-responsive.css"/>
        <h:outputStylesheet library="css" name="default.css"/>
    </h:head>
    <h:body>
        <div class="container">
            <nav class="navbar navbar-inverse" role="navigation">

                <div class="row" id="navegacao">
                    <div class="span12">
                        <div class="navbar">
                            <div class="navbar-inner">
                                <div class="container">

                                    <h1 align="center"> <h:outputLabel style="color: green; font-weight: bold; font-size-adjust: initial" value="Imobiliaria"/></h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>

            <div class="row" id="banner">
                <div class="span12">
                    <div class="hero-unit">
                        <h1> Transação efetuada com Sucesso!!!</h1>
                        
                        <h:form>
                            <h:panelGrid columns="6">
                                <h:commandButton styleClass="btn btn-large" value="Voltar" action="index"/>
                                                             
                            </h:panelGrid>           
                        </h:form>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="span12"><p class="copy">Imobily - Copyright &copy; 2014. Todos os direitos reservados.</p></div>
            </div>

        </div><!-- final do Container -->	

        <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="js/bootstrap.min.js"></script>      
       
    </h:body>
</html>

